/goldmark-lint
/goldmark-lint.exe
cmd/goldmark-lint/goldmark-lint
cmd/goldmark-lint/goldmark-lint.exe
.goldmark-lint-cache
bench/rfcs/
bench/tldr/
bench/commonmark/
bench/goldmark-lint
bench/goldmark-lint.exe

# goreleaser build output
/dist/
